.container {
  margin: 1.5rem;
  margin-top: 5rem;
}
.editora {
  font-style: italic;
  font-weight: 350;
  font-size: 0.9rem;
}
.seta {
  width: 2.5rem;
}
.seta:hover {
  transform: scale(1.2);
  transition: all 0.3s;
  opacity: 0.9;
}
.livro {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
.imagem {
  width: 25%;
  object-fit: cover;
  border-radius: 7px;
  margin: 0;
  padding: 0;
}
.infos {
  display: flex;
  gap: 2rem;
}
.autor {
  font-style: italic;
}
.status {
  display: flex;
  width: 90%;
  justify-content: end;
  position: absolute;
  z-index: 999;
  top: 7rem;
  right: 9rem;
}
.textos {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}
.botoes {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.descricao {
  width: 72%;
  overflow-wrap: break-word;
}
.tabelas table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5rem;
  text-align: center;
  border-radius: 10px;
}
.tabelas {
  text-align: center;
}
.tabelaItem {
  margin-top: 1rem;
  max-height: 15rem;
  overflow-y: scroll;
  border: 2px solid #ccc;
  border-radius: 10px;
}
.tabelaItem::-webkit-scrollbar {
  width: 8px;
}

.tabelaItem::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.tabelaItem::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.tabelas h3 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 0;
  padding: 0;
}
.tabelas th,
.tabelas td {
  border: 1.5px solid #ccc;
  padding: 0.3rem;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9rem;
  vertical-align: middle;
}
.tabelas td {
  font-weight: 400;
}
