.form {
  margin: 1.5rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}
.form > h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.campos {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
.linha1,
.linha2,
.linha3 {
  display: grid;
}
.linha1 {
  grid-template-columns: repeat(2, 1fr) 2fr;
  gap: 2rem;
}
.linha2 {
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.linha3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.grupo {
  display: flex;
  flex-direction: column;
}

.grupo > label {
  color: #303030;
  font-weight: 500;
}
.grupo > input[type="text"],
textarea {
  width: 100%;
  padding: 0 0.3rem;
  height: 1.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
  border-radius: 5px;
  border: solid #9433a3 1.4px;
  background-color: #f9f9f9;
}
.grupo > input[type="file"] {
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
}
.grupo > input[type="file"]:focus {
  outline: none;
  border: none;
}

.grupo > input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #b531ca;
  box-shadow: 0 0 5px #c93fde56;
}

.grupo > input[type="text"]::placeholder,
textarea::placeholder {
  color: #acacac;
  font-style: italic;
}
.grupo > textarea {
  padding-top: 0.3rem;
}
.botao {
  margin: auto;
}
textarea {
  min-height: 1.8rem;
  max-width: 100%;
  min-width: 100%;
}
.erro {
  border-color: rgb(223, 14, 14) !important;
  box-shadow: 0 0 5px rgba(223, 14, 14, 0.34);
}
